name: Todo Script Build

on:
  push:
    branches: [ "main" ]
    paths: [ "script/**" ]
  pull_request:
    branches: [ "main" ]
    paths: [ "script/**" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 22

      - name: Install dependencies
        run: cd script && npm install

      - name: Build
        run: cd script && npm run build

      - name: Upload artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: Todo Script
          path: ./script/updateVersionCode.js